.header {
  width: 100%;
  background-color: $primary-color-black;

  .container {
    display: flex;
    justify-content: space-between;
  }

  &__top{

    &__left {

      &__list {
        display: flex;

        &__item {

          &__link{
            display: block;
            color: $secondary-color-white;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: lowercase;
            padding: 13px 21px 14px 21px;
            border-left: 1px solid $tertiary-color-white;

            &:hover{
              background-color: $primary-color-orange;
            }
          }

          &:last-child {
              border-right: 1px solid $tertiary-color-white;
          }
        }
      }
    }

    &__right {

      &__list {
        display: flex;
      }
    }
  }
}