* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", serif;
  background-color: $primary-color-white;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  transition: .45s all;
  opacity: 1;

  &:hover {
    transition: .35s all;
    opacity: .9;
  }
}

